.productCreateScreen {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.card {
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);
}

.inputs {
    display: flex;
    gap: 30px;
}

.checkbox {
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: tomato;
    font-size: 12px;
}

.close:hover {
    cursor: pointer;
}

.options {
    display: flex;
    margin: 20px 0;
}